Repository ansible/django-ansible-base, pull requests merged in 2024-11, with the labels that each got.

#454 More robust trust proxy header handling
  ansible_base/jwt_consumer/common/util.py
  test_app/tests/jwt_consumer/common/test_util.py
Labels: comments left

#637 Fix issue where RADIUS auth logged to root logger
  ansible_base/authentication/authenticator_plugins/_radiusauth.py
Labels: Ready To Merge

#482 Allow role assignment queries to use .only
  ansible_base/rbac/models.py
  test_app/tests/rbac/models/test_role_assignments.py
Labels: bug, app:rbac, Ready for review

#636 feat(oauth2_provider): check for OAuth2ScopePermission on all APIViews
  ansible_base/authentication/views/authenticator_users.py
  ansible_base/lib/dynamic_config/dynamic_urls.py
  ansible_base/lib/dynamic_config/settings_logic.py
  ansible_base/lib/utils/views/permissions.py
  ansible_base/lib/utils/views/urls.py
  ansible_base/oauth2_provider/apps.py
  ansible_base/oauth2_provider/checks/__init__.py
  ansible_base/oauth2_provider/checks/permisssions_check.py
  ansible_base/oauth2_provider/views/application.py
  ansible_base/oauth2_provider/views/token.py
  ansible_base/rbac/api/views.py
  ansible_base/resource_registry/views.py
  docs/apps/oauth2_provider.md
  test_app/settings.py
  test_app/tests/oauth2_provider/checks/__init__.py
  test_app/tests/oauth2_provider/checks/test_permissions_check.py
  test_app/views.py
Labels: Ready for review

#575 Only trust last entry in x-forwarded-for by default
  ansible_base/lib/utils/requests.py
  test_app/tests/lib/utils/test_requests.py
Labels: app:lib, Ready for review

#574 Only allow x-trusted-proxy header to be valid for so long
  ansible_base/jwt_consumer/common/util.py
  test_app/tests/jwt_consumer/common/test_util.py
Labels: app:jwt_consumer, Ready for review

#489 Handle authenticator slug collision
  ansible_base/authentication/authenticator_plugins/utils.py
  ansible_base/authentication/models/authenticator.py
  test_app/tests/authentication/models/test_authenticator.py
Labels: Ready To Merge

#612 Apply service_id for user if creating from JWT data
  ansible_base/jwt_consumer/common/auth.py
  test_app/tests/conftest.py
Labels: app:jwt_consumer, blocked

#530 Enable/Disable authentication maps
  ansible_base/authentication/migrations/0015_alter_authenticator_category_and_more.py
  ansible_base/authentication/models/authenticator_map.py
  ansible_base/authentication/utils/claims.py
  test_app/tests/authentication/utils/test_claims.py
  test_app/tests/conftest.py
Labels: app:authentication, comments left

#533 Allow registering models via a setting
  ansible_base/lib/dynamic_config/settings_logic.py
  ansible_base/rbac/permission_registry.py
  docs/apps/rbac/for_app_developers.md
  test_app/models.py
  test_app/settings.py
Labels: galaxy
