Repository ansible/django-ansible-base, pull requests merged in 2024-09, with the labels that each got.

#603 Add some nuance to the on-off logic for RESOURCE_SERVER
  ansible_base/resource_registry/apps.py
  ansible_base/resource_registry/utils/service_backed_sso_pipeline.py
  ansible_base/resource_registry/utils/settings.py
  test_app/tests/resource_registry/test_utils.py
Labels: app:resource_registry

#596 Remove is_superuser from resource API
  ansible_base/resource_registry/shared_types.py
  test_app/tests/fixtures/static/resource_sync/resource-types/shared.user/manifest/response
  test_app/tests/fixtures/static/resource_sync/resources/97447387-8596-404f-b0d0-6429b04c8d22/response
  test_app/tests/resource_registry/test_resource_sync.py
  test_app/tests/resource_registry/test_resources_api.py
Labels: app:resource_registry, Ready To Merge

#609 [RR] Send auth backend in auth_code payload
  ansible_base/resource_registry/utils/auth_code.py
Labels: app:resource_registry

#601 Add option to automatically move users to a new authenticator
  ansible_base/authentication/authenticator_plugins/base.py
  ansible_base/authentication/authenticator_plugins/keycloak.py
  ansible_base/authentication/authenticator_plugins/oidc.py
  ansible_base/authentication/authenticator_plugins/saml.py
  ansible_base/authentication/migrations/0014_authenticator_auto_migrate_users_to.py
  ansible_base/authentication/models/authenticator.py
  ansible_base/authentication/serializers/authenticator.py
  ansible_base/authentication/utils/authentication.py
  test_app/migrations/0017_thingsomeoneshares_thingsomeoneowns.py
  test_app/models.py
  test_app/tests/authentication/test_migrate_user_to_authenticator.py
  test_app/tests/authentication/utils/test_authentication.py
Labels: app:authentication

#608 format string missing f
  ansible_base/lib/redis/client.py
Labels: app:lib

#615 Force social-auth-app-django to 5.4.1
  requirements/requirements_all.txt
  requirements/requirements_authentication.in
Labels: Ready for review

#616 Only return entries for local service_id
  ansible_base/resource_registry/views.py
  test_app/tests/resource_registry/test_views.py
Labels: bug, app:resource_registry, Ready To Merge
